@page "/secrets"
@rendermode InteractiveServer
@using LightVault.WebApplication.Services
@using LightVault.WebApplication.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject SecretService _secretService

<h3>🔐 Secrets Page</h3>

<AuthorizeView Roles="Admin,Developer">
    <Authorized>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in _secrets)
                {
                    <tr>
                        <td>@s.Name</td>
                        <td>@s.CurrentVersion</td>
                        <td>
                            <NavLink href="@($"/secrets/{s.Id}")">View</NavLink>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Authorized>

    <NotAuthorized>
        <p>You are not authorized. Redirecting...</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject] NavigationManager _nav { get; set; } = null!;
    [CascadingParameter] Task<AuthenticationState> _authStateTask { get; set; } = null!;
    private List<SecretDto>? _secrets = new List<SecretDto>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var state = await _authStateTask;
        var user = state.User;

        if (!user.Identity?.IsAuthenticated ?? true)
        {
            _nav.NavigateTo("/login", forceLoad: true);
        }
        else
        {
            await TryLoadSecrets();
            StateHasChanged();
        }
    }

    private async Task TryLoadSecrets()
    {
        _secrets = await _secretService.GetAll();
    }
}
